<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item active">Task List</li>
                </ol>
            </div>
            <h4 class="page-title">Task List</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-end mb-3">
                    <button type="button" id="btnAddTask" class="btn btn-sm btn-soft-primary">Add Task</button>
                </div>

                <table id="tblTasks" class="table table-sm dt-responsive nowrap table-striped w-100">
                    <thead>
                        <tr>
                            <th>SerNo</th>
                            <th>Task Name</th>
                            <th>Input Type</th>
                            <th>Validation Type</th>
                            <th>Instructions</th>
                            <th>Is Optional</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Modal/_AddEditTask.cshtml" />

@section scripts {
    <script src="~/js/pages/Task.js"></script>
}