<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Event</a></li>
                    <li class="breadcrumb-item active">Create Event</li>
                </ol>
            </div>
            <h4 class="page-title">Create Event</h4>
        </div>
    </div>
</div>

<form id="EventForm" class="form-horizontal" action="/Event/Create" enctype="multipart/form-data">
    <div class="card">
        <div class="card-body">
            <div class="w-75 mx-auto">
                <div class="row mb-3">
                    <label for="EventName" class="col-3 col-form-label">Event Name</label>
                    <div class="col-9">
                        <input type="text" id="EventName" name="EventName" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="EventLogo" class="col-3 col-form-label">Event Logo</label>
                    <div class="col-9">
                        <input type="file" id="EventLogo" name="EventLogo" class="form-control" accept=".png, .jpg, .jpeg">
                    </div>
                </div>
                <div class="row mb-5">
                    <label for="EventDate" class="col-3 col-form-label">Event Date</label>
                    <div class="col-9">
                        <input type="text" id="EventDate" name="EventDate" class="form-control" data-provide="datepicker" data-date-container="#datepicker1">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <button type="button" id="cloneTask" class="btn btn-soft-warning">Add</button>
                    </div>
                </div>

                <div class="row align-items-end taskSection">
                    <div class="col-md-5 mb-3">
                        <label for="Task" class="form-label">Task</label>
                        @Html.DropDownList("TaskId", ViewBag.TaskList, "-- Select --", new { @class = "form-select", @name = "TaskId" })
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Deadline" class="form-label">Deadline</label>
                        <input type="text" id="Deadline" name="Deadline" class="form-control" data-provide="datepicker" data-date-container="#datepicker1">
                    </div>
                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-soft-danger removeTask">Delete</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <a asp-action="index" class="btn btn-soft-secondary">Cancel</a>
                <button type="submit" id="btnSaveEvent" class="btn btn-soft-success">Save</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/js/pages/CreateEvent.js"></script>
}